body {
    background-image: url("../bg-enhanced.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: multiply;
    margin: 0;
    padding: 0;
    color: white;
}



h1 {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-size: 10vh;
    text-shadow: 0px 0.5vh 1vh rgba(0, 0, 0, 0.4);
}

h2 {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-size: 7vh;
    text-shadow: 0px 0.5vh 0.75vh rgba(0, 0, 0, 0.4);
}

h3 {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-size: 5.4vh;
    text-shadow: 0px 0.5vh 0.5vh rgba(0, 0, 0, 0.4);
}

p {
    font-family: Open Sans, sans-serif;
    font-size: 4vh;
}

p2 {
    font-family: Open Sans, sans-serif;
    font-size: 3.5vh;
}

p3 {
    font-family: Open Sans, sans-serif;
    font-size: 3vh;
}





.logo {
    width: auto;
    max-width: 13%;
    height: auto;
    border-radius: 2%;
    transition: 0.5s;
}

.logo:hover {
    transform: scale(1.02, 1.02);
    transition: 0.5s;
}





.box {
    background-color: white;
    border-radius: 0.5vh;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    margin: 5px;
    color: black;
    text-align: center;
    display: inline-block;
    padding: 1.5vw;
    min-width: 40vh;
    transition: 0.5s;
}

.box:hover {
    background-color: #eee;
    -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}





.button1 {
    -moz-box-shadow: 0px 3px 6px 0px #3d3d3d;
    -webkit-box-shadow: 0px 3px 6px 0px #3d3d3d;
    box-shadow: 0px 3px 6px 0px #3d3d3d;
    background-color: transparent;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 2px solid #fff;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: Arial;
    font-size: 4.5vh;
    padding: 1vh 3.5vh;
    text-decoration: none;
    text-shadow: 0px 2px 3px #3d3d3d;
    transition: 0.5s;
}

.button1:hover {
    background: rgb(114,137,218);
    transform: scale(0.96, 0.96);
    transition: 0.5s;
}

.button1:active {
    position: relative;
    top: 2px;
}


.button2 {
    -moz-box-shadow: 0px 3px 6px 0px #3d3d3d;
    -webkit-box-shadow: 0px 3px 6px 0px #3d3d3d;
    box-shadow: 0px 3px 6px 0px #3d3d3d;
    background-color: transparent;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 0.4vh solid #111;
    display: inline-block;
    cursor: pointer;
    color: #111;
    font-family: Arial;
    font-size: 4.5vh;
    padding: 1vh 3.5vh;
    text-decoration: none;
    text-shadow: 0px 2px 3px #3d3d3d;
    transition: 0.5s;
}

.button2:hover {
    background: rgb(114,137,218);
    transform: scale(0.96, 0.96);
    transition: 0.5s;
}

.button2:active {
    position: relative;
    top: 2px;
}





ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-shadow: 0 0.3vh 0.3vh rgba(0,0,0,0.2);
    background-color: transparent;
}

ul.vert-li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    text-shadow: 0 0.3vh 0.3vh rgba(0,0,0,0.2);
    background-color: transparent;
}

li:not(.vert-li) {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.7vh 1vh;
    font-family: Open Sans, sans-serif;
    font-size: 3.3vh;
    text-decoration: none;
    transition: 0.5s;
}

li a:hover:not(.active) {
    background-color: rgba(255,255,255,0.35);
    transition: 0.5s;
}

li a.active {
    background-color: rgb(255,255,255);
    transition: 0.5s;
}





.medium {
    width: auto;
    text-align: center;
    margin: auto;
    padding: 2.5vh;
    padding-bottom: 12vh;
    padding-top: 12vh;
    background-color: rgb(230, 230, 230);
}

.contentBar {
    height: 400px;
    width: 100%;
    background: white;
    margin-bottom: 50px;
}

.footer {
    height: auto;
    width: auto;
    background: rgb(240, 240, 240);
    color: black;
    padding: 3vh;
}





.hover {
    animation: text-hover 6s ease-in-out infinite;
}

.team-img {
    border-radius: 50%;
    width: 128px;
    height: 128px;
}





@keyframes hover {
    0% {
        box-shadow: 0 1vh 2.5vh 0px rgba(0,0,0,0.6);
        transform: translatey(0vh);
    }
    
    50% {
        box-shadow: 0 1vh 2.5vh 0px rgba(0,0,0,0.2);
        transform: translatey(-3.3vh);
    }
    
    100% {
        box-shadow: 0 1vh 2.5vh 0px rgba(0,0,0,0.6);
        transform: translatey(0vh);
    }
}

@keyframes text-hover {
    0% {
        text-shadow: 0px 1vh 1vh #3d3d3d;
        transform: translatey(0px);
    }
    
    50% {
        text-shadow: 0px 4vh 2.5vh #3d3d3d;
        transform: translatey(-3.3vh);
    }
    
    100% {
        text-shadow: 0px 1vh 1vh #3d3d3d;
        transform: translatey(0px);
    }
}
